*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}
html{
  background-color: #fff;
  color:#ffffff;
  font-family: 'Oswald','Arial';
  font-weight: 600;
  font-size: 20px;
  text-rendering: : optimizegibility;
}

  body{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/bg.jpg);
    width:100%;
    background-size:cover;
    background-attachment: fixed;
  }
/*----------------------------------------------------------------------------------*/
/*------------------------------header part------------------------------------*/
  .container{
    color:#fff;
    margin:auto;
    max-width: 1000px;
    background-color: rgba(15, 15, 25, 0.7);
    box-shadow: 30px 0 40px rgba(0, 0, 0, 0.10),-30px 0 40px rgba(0, 0, 0, 0.5);

  }

  header{
    margin-bottom: 5px;
    overflow: auto;
    padding:10px;
  }

  header h1{
   font-family: 'Spirax', cursive;

    margin: 38px 0 0 70px;
    float: left;
  }

header h1 a{
  font-size: 2rem;
  text-decoration: none;
  color:#fff;
}

  header h1 a:hover{
    color:rgba(222, 22, 22, 0.78);
  }

  header ul{
    transition: 0.2s ease;
    list-style: none;
    margin: 45px 60px 0 0;
    padding: 0;
    float: right;
  }

header ul li{
  margin-left: 35px;
  display: inline;
}

  header ul li a{
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
  }
  header ul li a:hover{
    color: #c71919;
  }
/*----------------------------------------------------------------------------------*/
/*--------------------------Body part----------------------------------------------*/
/*----------------------------------------------------------------------------------*/
.current{
  color: #c71919;
  border-bottom: 3px solid;
}


.row{
  transition: 0.5s ease;
  margin-top:20px;
  padding:0;
}
.icon{
  display:inline-flex;
margin-left: 80px;
margin-top: 40px;
}

.icon_img{
  padding-top:5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
  background-color: #fff;
}

#latestmovies{
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 5px;
  font-family: 'Faster One', cursive;
  transition: 0.2s ease;
  margin-left: 10px;
  margin-top: 3px;
}

.moviename{
  margin-left:80px;
  display: inline-block;
  text-align: center;
}
.movienames{
  color:#fff;
  text-decoration: none;
}

.mliquality{
  background: #c71919;
  font-size: 0.6rem;
  margin-top: 6px;
  margin-left: 33px;
  border-radius: 4px;
  font-weight: 300;
  padding:3px;
  z-index: 4;
  position: absolute;
  color:#333;
}

.movienames:hover{
  color:#242a9a;
}

.movieyear{
  font-size: 10px;
}

.movieyear:hover{
  color: #c71919;
}
.trending{
  display: inline-flex;
  margin-left: 80px;
  margin-bottom: 10px;
  margin-top: 30px;
}
#trending{
  margin-left: 6px;
  color: #0d2de0;

}

figure{
  width:150px;
  height: 200px;
  overflow: hidden;
  border-radius: 3px;
  border: #c71919 3px solid;


}


figure img{
  width:150px;
  height: 200px;
  opacity: 0.9;
  transition: 0.5s ease;
}

figure:hover img{
  transform: scale(1.2);
  opacity: 1;
}

figure:hover{
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.7);
  border-color: #242a9a;
}

/*---------------------------------------------------------------------------*/
/*------------------------------popup page---------------------------------------------*/
.bigphoto{
  padding:10px;

  align-items: center;
    overflow: hidden;
  border-radius: 5px;

}

.aboutmovie{
  padding-top: 60px;
  align-items: center;
  margin-left: 116px;
  padding-bottom: 30px;
}

#movietitle{
margin-top: 30px;
margin-left: 55px;
padding:20px;
}
.moviedes{
  font-style:italic;
  font-weight: 2px;
  font-family: serif;
  padding-top: 10px;
  font-size: 16px;
}
.aboutmovie{
  display: inline-flex;
  margin-top:-5px;

}
.rightdetails{
  float: right;
  font-size: 20%;

}
.words{
  font:10px;
}
.leftdetails{
  float:left;
}

.description{
  padding:15px;

}
.fastandferious{
  margin-bottom: 20px;
}
.download{
  transition: 0.5s ease;
  margin-top: 30px;
  text-align: center;
}

.download a img{
  margin-top:8px;
  transition: 0.5s ease;
}

.download a img:hover{
  transform: scale(1.3);
}
.torrent{
  height: 50px;
  width: 50px;
}

.quote{

    margin-top:40px;
    font-size: 17px;
}

  footer{
    padding:10px;
    background: rgba(14, 14, 14, 1);
    color:rgba(255, 255, 255, 0.4);
    text-align: center;
    box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.5);
  }

  footer p{
    font-weight: 300;
    font-size: 13px;
  }

@media (max-width:700px){
  header h1{
    float: none;
    text-align: center;
  }

  header ul{
    margin: 0;
    padding-bottom: 15px;
    float:none;
    text-align: center;
    word-spacing: 35px;
  }
  header ul li{
    margin:0;
  }
